* {
    box-sizing: border-box;
    position: relative;
}

/**
 * --------------------------
 * #ecf0f3 rgb(236, 240, 243)
 * #d1d9e6 rgb(209, 217, 230)
 * #597aab rgb(89, 122, 171)
 * --------------------------
 * #ecf3f9 rgb(236, 243, 249)
 * #d8e0e8 rgb(216, 224, 232)
 * --------------------------
 * #f9ecf3 rgb(249, 236, 243)
 * #f5e6eb rgb(245, 230, 235)
 * --------------------------
 * #f0f5eb rgb(240, 245, 235)
 * #dde0da rgb(221, 224, 218)
 * --------------------------
 **/

body {
    --font-color: #666;
    --background-color: #ecf0f3;
    --shaow-dark-color: #d1d9e6;
    --shaow-light-color: #fafafa;
    --link-color: rgb(89, 122, 171);
    /* ----------------------------------- */
    background: var(--background-color);
    color: var(--font-color);
    overflow: auto;
    font: normal 1.0em KaTeX_Main,Times New Roman, serif;
}

main {
    width: 100vw;
    height: 100vh;
    min-width: 720px;
    min-height: 480px;
}

figure {
    display: block;
    position: absolute;
    margin: 0;
    left: 50%;
    top: 50%;
    padding: 50px;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    /* ---- */
    user-select: none;
    background: transparent;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 0 0 var(--shaow-light-color) inset,
                0 0 0 var(--shaow-dark-color) inset,
                -14px -14px 30px 0 var(--shaow-light-color),
                 14px  14px 30px 0 var(--shaow-dark-color);
}

figure:active {
    animation: shadowTransitionClick 0.1s ease-out forwards; /* 動畫控制陰影變化 */
}

figure:not(:active) {
    animation: shadowTransitionRelease 0.1s ease-out forwards; /* 動畫控制陰影回來 */
}

@keyframes shadowTransitionClick {
    0% {
        box-shadow: 0 0 0 var(--shaow-light-color) inset,
                    0 0 0 var(--shaow-dark-color) inset,
                    -14px -14px 30px 0 var(--shaow-light-color),
                     14px  14px 30px 0 var(--shaow-dark-color);
    }
    30% {
        box-shadow: 0 0 0 0 var(--shaow-light-color) inset,
                    0 0 0 0 var(--shaow-dark-color) inset,
                    0 0 0 0 var(--shaow-light-color),
                    0 0 0 0 var(--shaow-dark-color);
    }
    100% {
        box-shadow: -14px -14px 30px 0 var(--shaow-light-color) inset,
                     14px  14px 30px 0 var(--shaow-dark-color) inset,
                    0 0 0 0 var(--shaow-light-color),
                    0 0 0 0 var(--shaow-dark-color);
    }
}

@keyframes shadowTransitionRelease {
    0% {
        box-shadow: -14px -14px 30px 0 var(--shaow-light-color) inset,
                     14px  14px 30px 0 var(--shaow-dark-color) inset,
                    0 0 0 0 var(--shaow-light-color),
                    0 0 0 0 var(--shaow-dark-color);
    }
    30% {
        box-shadow: 0 0 0 0 var(--shaow-light-color) inset,
                    0 0 0 0 var(--shaow-dark-color) inset,
                    0 0 0 0 var(--shaow-light-color),
                    0 0 0 0 var(--shaow-dark-color);
    }
    100% {
        box-shadow: 0 0 0 var(--shaow-light-color) inset,
                    0 0 0 var(--shaow-dark-color) inset,
                    -14px -14px 30px 0 var(--shaow-light-color),
                     14px  14px 30px 0 var(--shaow-dark-color);
    }
}

figcaption {
    caption-side: top;
    text-align: center;
    padding-bottom: 10px;
    font-size: 1.2em;
    font-weight: 700;
}

caption {
    caption-side: bottom;
    text-align: right;
    padding-top: 10px;
    font-size: 0.8em;
    font-style: normal;
}

/* ---- */
table {
    border-collapse: collapse;
    --border-width: 1px;
    --double-border-gap: 4px;
}

thead {
    border-top: var(--border-width) solid var(--font-color);
    border-bottom: var(--border-width) solid var(--font-color);
}

tbody {
    border-bottom: var(--border-width) solid var(--font-color);
}

thead:before, tbody:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    border-top: var(--border-width) solid var(--font-color);
}

thead:before {
    top: 0;
    transform: translateY(calc(-1*var(--double-border-gap)) );
}

tbody:after {
    bottom: 0;
    transform: translateY(var(--double-border-gap));
}

th {
    padding: 3pt 0.9rem;
    white-space: nowrap;
}

th.unit-name {
    text-align: center;
}
th.unit-tex {
    text-align: right;
    padding-right: 0;
}
th.unit-value {
    text-align: left;
}
th.unit-converted {
    text-align: left;
}
th.unit-symb {
    text-align: left;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: 1px solid underline; 
}